/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* common */
    .mt{
        margin-top: 25px;
    }
    .c-h2 {
        text-align: center;
        font-size: 28px;
        line-height: 35px;
    }
    /* banner */
    .banner {
        padding-top: 98px;
        padding-bottom: 30px;
    }
    .slider h1 {
        margin-bottom: 0;
        font-size: 24px;
        line-height: 36.8px;
    }
    .slider p {
        margin: 10px 0 15px;
        padding: 0 20px;
        font-size: 16px;
        line-height: 22px;
    }
    .book-btn {
        padding: 5px 12px;
        font-weight: 500;
    }
    .watch-btn {
        margin-left: 10px;
        padding: 4px 9px;
        font-size: 15px;
        font-weight: 500;
    }
    .indicator {
        margin-top: 10px;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .indi-btn {
        margin-left: 10px;
    }
    /* about */
    .about-icon{
        display: flex;
        justify-content: center;
    }
    .about h1{
        text-align: center;
    }
    .about-title p {
        margin-top: 5px;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
    }
    .about-item {
        margin-top: 20px;
        padding: 0px 20px 20px 20px;
        height: 320px;
        text-align: center;
    }
    /* item */
    .item-d {
        position: relative;
        padding: 20px;
        top: 0px;
        width: 100%;
    }
    .item-d h2{
        font-size: 24px;
        font-weight: 700;
    }
    .buy-btn{
        padding: 8px 24px;
        font-size: 18px;
    }
    /* feature */
    .up-img {
        top: 0px;
        left: 10px;
    }
    .feature-item {
        text-align: center;
        padding: 50px 30px 20px;
    }
    /* review */
    .review {
        height: 260px;
        padding: 20px;
    }
    .r-title {
        padding: 20px 10px;
    }
    .r-title h2 {
        padding: 10px;
    }
    /* mail */
    .e-mail h1 {
        margin-bottom: 0;
        padding: 18px 0px 0px;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
    }
    .form {
        padding: 10px 0px 15px 40px;
    }
    .c-form {
        padding: 1px 8px;
        margin-right: 0;
    }
    .submit-btn {
        padding: 3px 15px;
        font-size: 14px;
        font-weight: 600;
    }
    /* blog */
    .blog-item {
        padding: 0 10px 0;
        margin-top: 10px;
    }
    .blog-details h2 {
        margin-top: 10px;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
    }
    .blog-details p {
        margin-bottom: 5px !important;
        font-family: var(--rale);
        font-size: 14px;
        font-weight: 400;
    }
    .link a {
        font-weight: 700;
    }
    /* contact */
    .contact h2 {
        margin-top: 15px;
        font-size: 24px;
    }
    .c-link {
        margin-top: 10px;
    }
    .fb {
        padding: 0 10px;
    }
    .nav2 {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .list-inline{
        margin: 0;
    }
    .list-inline-item:not(:last-child) {
        margin-right: 5px;
    }
    footer p {
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* common */
    .mt{
        margin-top: 30px;
    }
    .c-h2 {
        text-align: center;
        font-size: 32px;
    }
    /* banner */
    .banner {
        padding-top: 98px;
        padding-bottom: 110px;
    }
    .slider h1 {
        margin-bottom: 0;
        font-size: 34px;
    }
    .slider p {
        margin: 0 0 25px;
        padding: 0 50px;
    }
    .book-btn {
        padding: 8px 20px;
    }
    .watch-btn {
        margin-left: 10px;
        padding: 8px 10px;
    }
    .indicator {
        margin-top: 30px;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .indi-btn {
        margin-left: 15px;
    }
    /* about */
    .about-icon{
        display: flex;
        justify-content: center;
    }
    .about h1{
        text-align: center;
    }
    .about-title p {
        font-size: 16px;
        text-align: center;
    }
    .about-item {
        margin-top: 20px;
        padding: 0px 90px 20px 90px;
        height: 320px;
        text-align: center;
    }
    /* item */
    .item-d {
        padding: 20px;
        top: 566px;
        width: 517px;
    }
    .item-d h2{
        font-size: 24px;
        font-weight: 700;
    }
    .buy-btn{
        padding: 8px 24px;
        font-size: 18px;
    }
    /* feature */
    .up-img {
        top: 50px;
        left: 170px;
    }
    .feature-item {
        text-align: center;
        padding: 50px 80px 80px;
    }
    /* mail */
    .e-mail h1 {
        padding: 18px 40px 0px;
        color: #fff;
        font-size: 22px;
        text-align: center;
    }
    .form {
        padding: 10px 20px 40px 110px;
    }
    .c-form {
        padding: 6px 0.75rem;
    }
    .submit-btn {
        position: relative;
        padding: 7px 15px;
    }
    /* contact */
    .contact h2 {
        margin-top: 15px;
        font-size: 24px;
    }
    .c-link {
        margin-top: 10px;
    }
    .fb {
        padding: 0 35px;
    }
    .list-inline{
        margin: 0;
    }
    .list-inline-item:not(:last-child) {
        margin-right: 20px;
    }
    footer p {
        font-family: var(--rale);
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* common */
    .mt{
        margin-top: 50px;
    }
    .c-h2 {
        font-size: 28px;
    }
    /* banner */
    .banner {
        padding-top: 118px;
        padding-bottom: 170px;
    }
    .slider h1 {
        font-size: 44px;
    }
    .slider p {
        margin: 17px 0;
        padding: 0 100px;
    }
    .book-btn {
        padding: 8px 20px;
    }
    .watch-btn {
        margin-left: 10px;
        padding: 8px 10px;
    }
    /* about */
    .about h1{
        text-align: center;
    }
    .about-title p {
        font-size: 16px;
        text-align: center;
    }
    .about-item {
        margin-top: 20px;
        padding: 0px 20px 20px 20px;
    }
    /* item */
    .item-d {
        padding: 20px;
        top: 350px;
        width: 337px;
    }
    .item-d h2{
        font-size: 24px;
        font-weight: 700;
    }
    .buy-btn{
        padding: 8px 22px;
        font-size: 16px;
    }
    /* feature */
    .up-img {
        top: 110px;
        left: 230px;
    }
    /* gallery */
    .c-row{
        --bs-gutter-x: .5rem;
        --bs-gutter-y: .5rem;
    }
    /* review */
    .review {
        margin-top: 35px;
        height: 270px;
        padding: 10px;
    }
    .r-title {
        padding: 20px 0px;
    }
    .r-title h2 {
        padding: 10px 10px;
        font-size: 18px;
        font-weight: 600;
        color: var(--green);
    }
    /* mail */
    .e-mail h1 {
        padding: 38px 60px 10px;
        color: #fff;
        font-size: 22px;
        text-align: center;
    }
    .form {
        padding: 10px 20px 40px 170px;
    }
    .c-form {
        padding: 6px 0.75rem;
    }
    .submit-btn {
        position: relative;
        padding: 7px 20px;
    }
    /* contact */
    .contact h2 {
        margin-top: 25px;
        font-size: 28px;
        font-weight: 600;
        line-height: 40px;
    }
    .c-link {
        margin-top: 25px;
    }
    .fb {
        padding: 0 50px;
    }
    .list-inline{
        margin: 0;
    }
    .list-inline-item:not(:last-child) {
        margin-right: 30px;
    }
    footer p {
        font-family: var(--rale);
        font-weight: 500;
        line-height: 22px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* common */
    .mt{
        margin-top: 80px;
    }
    /* nav */
    .menu ul li a{
        margin-right: 20px;
    }
    .call-btn{
        padding: 8px 25px;
    }
    /* banner */
    .banner{
        padding-top: 180px;
        padding-bottom: 220px;
    }
    .slider h1 {
        font-size: 54px;
    }
    .slider p {
        margin: 27px 0;
        padding: 0 190px;
    }
    /* item */
    .item-d {
        top: 190px;
        width: 217px;
    }
    .item-d h2{
        font-size: 18px;
        font-weight: 700;
    }
    .buy-btn{
        padding: 8px 18px;
        font-size: 12px;
    }
    /* .feature */
    .feature-item {
        padding: 0px 10px 10px 20px;
    }
    .up-img {
        top: 40px;
        left: 160px;
    }
    .cch2 {
        margin-top: 0px;
        margin-bottom: 10px;
    }
    /* gallery */
    .c-row{
        --bs-gutter-x: .5rem;
        --bs-gutter-y: .5rem;
    }
    /* review */
    .review {
        padding: 20px;
        height: 280px;
    }
    .r-title {
        padding: 20px 10px;
    }
    .r-title h2{
        font-size: 22px;
    }
    /* mail */
    .e-mail h1 {
        padding: 78px 30px;
        font-size: 22px;
    }
    .form {
        padding: 100px 0;
    }
    /* blog */
    .blog-details h2 {
        font-size: 18px;
        font-weight: 700;
    }
    .blog-details p {
        font-size: 12px;
        font-weight: 400;
    }
    /* contact */
    .c-link {
        margin-top: 25px;
    }
    .fb {
        padding: 0 60px;
    }
    .list-inline-item:not(:last-child) {
        margin-right: 40px;
    }
}

/* Extra extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {


}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {
    /* .item-d{
        position: absolute;
        top: 235%;
        width: 305px;
        padding: 10px;
        background-color: #ffffff;
    }
    .item-d1{
        position: absolute;
        top: 285%;
        width: 305px;
        padding: 10px;
        background-color: #fcfcfc;
    } */
}