/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* common */
    .mt{
        margin-top: 50px;
    }
    .c-h2 {
        font-size: 28px;
    }
    /* banner */
    .banner {
        padding-top: 158px;
        padding-bottom: 200px;
    }
    .slider h1 {
        font-size: 44px;
    }
    .slider p {
        margin: 17px 0;
        padding: 0 100px;
    }
    .book-btn {
        padding: 8px 20px;
    }
    .watch-btn {
        margin-left: 10px;
        padding: 8px 10px;
    }
    /* about */
    .about h1{
        text-align: center;
    }
    .about-title p {
        font-size: 16px;
        text-align: center;
    }
    .about-item {
        margin-top: 20px;
        padding: 0px 20px 20px 20px;
    }
    /* item */
    .item-d h2 ,.item-d1 h2{
        font-size: 28px;
        font-weight: 700;
    }
    .bp{
        font-size: 16px;
    }   
    .sp{
        font-size: 16px;
    }
    .item-d{
        top: 326%;
        width: 336px;
        padding: 20px;
    }
    .item-d2{
        top: 416%;
    }
    .item-d1{
        top: 510%;
        width: 336px;
        padding: 20px;
    }
    .item-d3{
        top: 605%;
    }
    .buy-btn{
        margin-left: 120px;
        padding: 8px 24px;
    }
    /* feature */
    .up-img {
        top: 660%;
        left: 35%;
    }
    /* gallery */
    .c-row{
        --bs-gutter-x: .5rem;
        --bs-gutter-y: .5rem;
    }
    /* review */
    .review {
        margin-top: 35px;
        height: 270px;
        padding: 10px;
    }
    .r-title {
        padding: 20px 0px;
    }
    .r-title h2 {
        padding: 10px 10px;
        font-size: 18px;
        font-weight: 600;
        color: var(--green);
    }
    /* mail */
    .e-mail h1 {
        padding: 38px 60px 10px;
        color: #fff;
        font-size: 22px;
        text-align: center;
    }
    .form {
        padding: 10px 20px 40px 110px;
    }
    .c-form {
        padding: 6px 0.75rem;
    }
    .submit-btn {
        position: relative;
        padding: 7px 20px;
    }
    /* contact */
    .contact h2 {
        margin-top: 25px;
        font-size: 28px;
        font-weight: 600;
        line-height: 40px;
    }
    .c-link {
        margin-top: 25px;
    }
    .fb {
        padding: 0 50px;
    }
    .list-inline{
        margin: 0;
    }
    .list-inline-item:not(:last-child) {
        margin-right: 30px;
    }
    footer p {
        font-family: var(--rale);
        font-weight: 500;
        line-height: 22px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* common */
    .mt{
        margin-top: 80px;
    }
    /* nav */
    .menu ul li a{
        margin-right: 20px;
    }
    .call-btn{
        padding: 8px 25px;
    }
    /* banner */
    .banner{
        padding-top: 180px;
        padding-bottom: 220px;
    }
    .slider h1 {
        font-size: 54px;
    }
    .slider p {
        margin: 27px 0;
        padding: 0 190px;
    }
    /* .feature */
    .feature-item {
        padding: 0px 10px 10px 20px;
    }
    .up-img{
        top: 360%;
        left: 15%;
    }
    .cch2 {
        margin-top: 0px;
        margin-bottom: 10px;
    }
    /* gallery */
    .c-row{
        --bs-gutter-x: .5rem;
        --bs-gutter-y: .5rem;
    }
    /* review */
    .review {
        padding: 20px;
        height: 280px;
    }
    .r-title {
        padding: 20px 10px;
    }
    .r-title h2{
        font-size: 22px;
    }
    /* mail */
    .e-mail h1 {
        padding: 78px 30px;
        font-size: 22px;
    }
    .form {
        padding: 100px 0;
    }
    /* blog */
    .blog-details h2 {
        font-size: 18px;
        font-weight: 700;
    }
    .blog-details p {
        font-size: 12px;
        font-weight: 400;
    }
    /* contact */
    .c-link {
        margin-top: 25px;
    }
    .fb {
        padding: 0 60px;
    }
    .list-inline-item:not(:last-child) {
        margin-right: 40px;
    }
}

/* Extra extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {


}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {
    .item-d{
        position: absolute;
        top: 235%;
        width: 305px;
        padding: 10px;
        background-color: #ffffff;
    }
    .item-d1{
        position: absolute;
        top: 285%;
        width: 305px;
        padding: 10px;
        background-color: #fcfcfc;
    }
}